@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

h2,
h4 {
  font-family: "Montserrat", sans-serif;
}

.HeroSection {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../PICS/HeroSection.jpg");
  object-fit: contain;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.HeroSection > h2 {
  color: #fff;
  margin-top: 50px;
}

.HeroSection > h4 {
  color: #fff;
  font-size: 30px;
  margin-top: 8px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
}

@media screen and (max-width: 960px) {
  .hero-container > h1 {
    font-size: 70px;
    margin-top: -150px;
  }
}

@media screen and (max-width: 768px) {
  .hero-container > h1 {
    font-size: 50px;
    margin-top: -100px;
  }

  .hero-container > p {
    font-size: 30px;
  }
}
